.container__botao {
    margin-top: 16px;
}

.btn {
    background-color: #F76262;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 28px 29px;
    border-radius: 10px;
    border: 1px solid #F76262;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    color: #F76262;
    padding: 28px 40px;
    background-color: #FFF;
}   